@charset "utf-8";
:root {
  --border-radius: 12px;
  --font-mono: Roboto, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}
h6 {
  font-size: 16px;
}
